# ==========================
# Ignore generated folders
# ==========================
Command-*/
main/cache/
main/data/
main/test/
main/best_model/
main/configs/
main/dev/
main/models/
main/prediction/
main/results/

# ==========================
# Ignore binary/cache files
# ==========================
__pycache__/
*.pkl
*.pt
*.pth
*.zip
*.tar
*.gz

# Git backup
.git_broken_backup/

# ==========================
# Ignore everything in main
# ==========================
main/**

# Keep Python source files
!main/
!main/**/*.py

# Keep root batch file
!unit_test.bat